#myLabel {
    font-family: Tahoma;
    font-size: 6em;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.setting {
    justify-content: space-evenly;
}

.btn {
    margin: 0 15px 0 15px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    width: 12em;
    height: 6em;
    font-size: 1em;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.myLabel {
    font-size: 1.5em;
    margin-top: 1em;
}

.myInput {
    border-radius: 8px;
    border: 1px solid black;
    width: 2em;
    font-size: 3em;
    padding: 0 20px 0 20px;
}

* {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#tangBtn {
    background-color: rgb(128, 219, 219);
}

#resetBtn {
    background-color: rgb(169, 125, 211);
}

#giamBtn {
    background-color: rgb(161, 209, 113);
}

#startBtn {
    background-color: rgb(209, 70, 98);
}