html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 480px;
    width: 480px;
}

html {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body {
    height: fit-content;
    align-self: center;
}

#score {
    color: aliceblue;
    font-size: 3em;
    margin-left: 125px;
}

#backgroundGame{
    border: 3px solid white;
}